
.ant-table table {
    margin-bottom: 3rem;
}

.outOfStock, 
.notes {
    text-align: left;
    margin: -.2rem;
    padding: 0 .3rem;
}

.ant-card.ant-card-bordered{
    margin-bottom: 2rem;
}

.ant-row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}