.spin{
    text-align: center;
    padding: 30px 60px;
    margin: 100px 0;
}


.ant-table table {
    margin-bottom: 3rem;
}

.outOfStock, 
.notes {
    text-align: left;
    margin: -.2rem;
    padding: 0 .3rem;
}

.ant-card.ant-card-bordered{
    margin-bottom: 2rem;
}
